html {
    /* center content */
    max-width:80%;
    margin:auto;

    /* footer alignment */
    min-height:100%;
    position:relative;
}

body {
    margin-bottom:3em;
}

.table {
    width:auto;
    max-width:auto;
    float:left;
    margin:2em;
}

th, td{
    text-align:center;
}

footer {
    bottom:0;
    position:absolute;
    height:3em;
    background-color:#f5f5f5;
}
